---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="サブドメイン一覧">
	<article>
		<section>
			<h1>tsukuba.devのサブドメイン一覧</h1>
            <div>
                <p>tsukuba.devは筑波大学の学生のために一定の条件を課してドメインを貸し出しています。このページではその一覧を掲示しています。</p>
                <ul>
                    <li><p><a href="https://link.tsukuba.dev">link.tsukuba.dev</a>: 学内組織へのリンクや学生が作成したサービスへのリンク集。</p></li>
                </ul>
            </div>
			
		</section>
	</article>
</Layout>