---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="ガイドライン">
	<article>
		<section>
			<h1>tsukuba.devドメイン利用ガイドライン</h1>
			<p>tsukuba.devは<a href="https://until-tsukuba.github.io/">UNTIL.</a>の目的に則り、筑波大学の情報処理を推進するプロダクトを製作・運営するプロジェクトに対して、tsukuba.devのサブドメインを貸し出すものです。</p>
			<p>このページはサブドメインを貸し出す基準等を示し、ご利用を検討される方々の参考とするためのものです。このガイドラインを満たされたとしてもご利用をお断りする場合がございますが、何卒ご了承ください。</p>
		</section>
		<section>
			<h2>貸出手続の流れ</h2>
			<ol>
				<li>
					<p>
						<a href="https://github.com/until-tsukuba/www.tsukuba.dev/blob/main/src/pages/subdomains/index.astro">www.tsukuba.dev/subdomains</a>を開き、
						欲しいドメインとその概要をリストに追記してください。
					</p>
				</li>
				<li>
					<p>
						<a href="https://github.com/until-tsukuba/www.tsukuba.dev">リポジトリ</a>に編集した内容をPull Requestとして作成してください。
					</p>
				</li>
				<li>
					<p>
						UNTIL. Discordの「#tsukuba.dev」チャンネルに、作成したPull RequestのURLを含めたメッセージを送信してください。
					</p>
				</li>
			</ol>
		</section>
		<section>
			<h2>貸し出し基準</h2>
			<ul>
				<li>
					<p>
						貸し出し対象が筑波大学の情報処理を推進するプロダクトを、製作もしくは運営するプロジェクトであること。
					</p>
				</li>
				<li>
					<p>
						基本的に1プロジェクトに対し1サブドメインのみを貸し出すものとする。
					</p>
				</li>
				<li>
					<p>
						少なくとも申請者は、UNTIL.のDiscordサーバー参加者であり、Discordサーバーにおける自己紹介の際にGitHub IDを明示していること。貸し出しを希望する際には可能な限りプロジェクトの概要と参加者を示すこと。
					</p>
				</li>
				<li>
					<p>
						下に示す予約語が含まれるもの、これに類似したもの、もしくはUNTIL.・全代会情報処理推進特別委員会が不適当だと認めるものについては貸し出さない。
					</p>
				</li>
				<li>
					<p>
						利用開始した後に、UNTIL.または全代会情報処理推進特別委員会が不適当と認める内容となった場合、貸し出し対象に連絡を取った後適切な応答が無いとき、利用者の意思に関わらず、サブドメインの貸し出しを中止する場合があること。
					</p>
				</li>
				<li>
					<p>
						以上の条件の全てを満たすこと。
					</p>
				</li>
			</ul>
		</section>
		<section>
			<h2>予約語一覧</h2>
			<ul>
				<li>admin</li>
				<li>city</li>
				<li>ipc</li>
				<li>until</li>
				<li>univ</li>
				<li>university</li>
				<li>www</li>
				<li>zdk</li>
			</ul>
		</section>
	</article>
</Layout>