---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<article>
		<section>
			<h1>tsukuba.devへようこそ！</h1>
			<p>tsukuba.devは筑波大学の学生のために一定の条件を課してドメインを貸し出しています。筑波大学の学生やOBによって構成される情報系技術者コミュニティ「<a href="https://until-tsukuba.github.io/">UNTIL.</a>」が管理しています。</p>
		</section>
		<section>
			<h2>このサイトについて</h2>
			<div>
				<p>このサイトでは、tsukuba.devを利用するにあたってのガイドライン、tsukuba.devのサブドメインの一覧を掲載することを目的としています。</p>
				<ul>
					<li><a href="/guidelines">ガイドライン</a></li>
					<li><a href="/subdomains">サブドメイン一覧</a></li>
				</ul>
			</div>
		</section>
	</article>
</Layout>