---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<article>
		<section>
			<h1>tsukuba.devへようこそ！</h1>
			<p>tsukuba.devは筑波大学の学生のために一定の条件を課してドメインを貸し出しています。</p>
		</section>
		<section>
			<h1>このサイトについて</h1>
			<div>
				<p>このサイトでは、tsukuba.devを利用するにあたってのガイドライン、tsukuba.devのサブドメインの一覧を掲載することを目的としています。</p>
				<ul>
					<li><a href="/guidelines">ガイドライン</a></li>
					<li><a href="/subdomains">サブドメイン一覧</a></li>
				</ul>
			</div>
		</section>
	</article>
</Layout>